<section class="tea-images my-5 ">
    <div class="container">
        <div class="slider w-100  wow animate__zoomIn">
            <div class="slider-image">
                <img class="slider-image-img object-fit-cover" src="../assets/images/slide1.png" alt="Красивый чай">
            </div>
            <!-- <div class="slider-image">
                <img class="slider-image-img object-fit-cover" src="images/slide2.png" alt="Красивый чай">
            </div>
            <div class="slider-image">
                <img class="slider-image-img object-fit-cover" src="images/slide3.png" alt="Красивый чай">
            </div> -->
        </div>
    </div>
  </section>
  <section class="faq mb-5">
    <div class="container">
        <h2 class="text-center fs-2 fw-bold mb-4">Ответы на часто задаваемые вопросы</h2>
        
        <div class="row justify-content-center">
            <div class="col-xl-8 col-md-10 px-3" id="accordion">
                <h3 class="p-4 pe-5 mb-3 rounded-2 bg-primary text-white">Собираете ли вы подарочные боксы?</h3>
                <div class="h-auto border-0">
                    <p>Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!</p>
                </div>
                <h3 class="p-4 pe-5 mb-3 rounded-2 bg-primary text-white">Сколько у вас разновидностей чая?</h3>
                <div class="h-auto border-0">
                    <p>У нас более десяти разновидностей чая, в том числе белый, матча и другие.</p>
                </div>
                <h3 class="p-4 pe-5 mb-3 rounded-2 bg-primary text-white">В какой срок осуществляется доставка?</h3>
                <div class="h-auto border-0">
                    <p>Доставка осуществляется в течении двух дней. Для отдаленных регионов сроки доставки зависят от выбранного способа доставки.</p>
                </div>
                <h3 class="p-4 pe-5 mb-3 rounded-2 bg-primary text-white">У вас обновляется ассортимент?</h3>
                <div class="h-auto border-0">
                    <p>Да, у нас периодически пояаляются новые сорта чая.</p>
                </div>
                <h3 class="p-4 pe-5 mb-3  rounded-2 bg-primary text-white">Какого объема у вас пачки чая?</h3>
                <div class="h-auto border-0">
                    <p>Пачки чая от 50 до 200 грамм.</p>
                </div>
            </div>
        </div>
    </div>
  </section>
  