<section class="order mb-5">
    <div class="container   wow animate__slideInUp" id="orderContainer">
        <h2 class="text-center fs-2 fw-bold mb-4">Сделать заказ</h2>
        <form>
            <div class="row">
                <div class="col-xl-6 col-md-10 mx-auto orderInputs">
                    <div class="row ">
  
                        <div class="mb-3 col-xl-4 col-md-6">
                            <label for="inputName" class="form-label">Имя</label>
                            <input type="text" class="form-control" id="inputName"
                                aria-describedby="inputNameDescribe">
                            <!-- <div id="inputNameDescribe" class="form-text">Введите имя.</div> -->
                        </div>
                        <div class="mb-3 col-xl-4 col-md-6">
                            <label for="inputLastName" class="form-label">Фамилия</label>
                            <input type="text" class="form-control" id="inputLastName">
                        </div>
                        <div class="mb-3 col-xl-4 col-md-6">
                            <label for="inputPhone" class="form-label">Телефон</label>
                            <input type="text" class="form-control" id="inputPhone">
                        </div>
                        <div class="mb-3 col-xl-6 col-md-6">
                            <label for="inputCountry" class="form-label">Страна</label>
                            <input type="text" class="form-control" id="inputCountry">
                        </div>
                        <div class="mb-3 col-xl-6 col-md-4">
                            <label for="inputIndex" class="form-label">Индекс</label>
                            <input type="text" class="form-control" id="inputIndex">
                        </div>
                        <div class="mb-4 col-xl-12 col-md-8">
                            <label for="inputAddress" class="form-label">Адрес</label>
                            <input type="text" class="form-control" id="inputAddress">
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary sendOrder"
                                id="btnSendOrder">Отправить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="orderThanks border border-primary rounded-2 mx-auto row align-items-center" id="orderThanks">
        <div class="text-center h2 col">Спасибо за заказ!</div>
        <div class="text-center h3 col">Мы свяжемся с вами в ближайшее время!</div>
    </div>
  </section>
  