<section class="tea-images my-5 ">
    <div class="container">
        <div class="slider w-100  wow animate__zoomIn">
            <div class="slider-image">
                <img class="slider-image-img object-fit-cover" src="../assets/images/slide1.png" alt="Красивый чай">
            </div>
            <!-- <div class="slider-image">
                <img class="slider-image-img object-fit-cover" src="images/slide2.png" alt="Красивый чай">
            </div>
            <div class="slider-image">
                <img class="slider-image-img object-fit-cover" src="images/slide3.png" alt="Красивый чай">
            </div> -->
        </div>
    </div>
  </section>
  
  <!-- <section class="faq mb-5">
    <div class="container">
        <h2 class="text-center fs-2 fw-bold mb-4">Ответы на часто задаваемые вопросы</h2>
        
        <div class="row justify-content-center " >
            <div class="col-xl-8 col-md-10 px-3 accordion" id="accordion">
                <div class="accordion-item border-0">
                    <h3 class="rounded-2 bg-primary text-white accordion-header">
                        <button class="accordion-button bg-primary text-white" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            Собираете ли вы подарочные боксы?
                        </button>
                    </h3>
                    <div class="h-auto border-0 accordion-collapse collapse show" id="collapse1" data-bs-parent="#accordion">
                        <div class="accordion-body border-0">
                            Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
                        </div>
                    </div>
                </div>
                <div class="accordion-item border-0">
                    <h3 class="rounded-2 bg-primary text-white accordion-header">
                        <button class="accordion-button bg-primary text-white" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                            Сколько у вас разновидностей чая?
                        </button>
                
                    </h3>
                    <div class="h-auto border-0 accordion-collapse collapse" id="collapse2" data-bs-parent="#accordion">
                        <div class="accordion-body border-0">
                            У нас более десяти разновидностей чая, в том числе белый, матча и другие.
                        </div>
                    </div>
                </div>
                <div class="accordion-item border-0">
                    <h3 class="rounded-2 bg-primary text-white accordion-header">
                        <button class="accordion-button bg-primary text-white" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                            В какой срок осуществляется доставка?
                        </button>
                    </h3>
                    <div class="h-auto border-0 accordion-collapse collapse " id="collapse3" data-bs-parent="#accordion">
                        <div class="accordion-body border-0">
                            Доставка осуществляется в течении двух дней. Для отдаленных регионов сроки доставки зависят от выбранного способа доставки.
                        </div>
                    </div>
                </div>
                <div class="accordion-item border-0">
                    <h3 class="rounded-2 bg-primary text-white accordion-header">
                        <button class="accordion-button bg-primary text-white" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            У вас обновляется ассортимент?
                        </button>
                    </h3>
                    <div class="h-auto border-0 accordion-collapse collapse " id="collapse4" data-bs-parent="#accordion">
                        <div class="accordion-body border-0">
                            Да, у нас периодически пояаляются новые сорта чая.
                        </div>
                    </div>
                </div>
                <div class="accordion-item border-0 rounded-2 ">
                    <h3 class="rounded-2 bg-primary text-white accordion-header">
                        <button class="accordion-button bg-primary text-white" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            Какого объема у вас пачки чая?
                        </button>
                    </h3>
                    <div class="h-auto border-0 accordion-collapse collapse " id="collapse5" data-bs-parent="#accordion">
                        <div class="accordion-body border-0">
                            Пачки чая от 50 до 200 грамм.
                        </div>
                    </div>
                </div>

             
            </div>
        </div>
    </div>

    
  </section> -->

<section class="faq mb-5">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-xl-8 col-md-10 px-3 accordion">
                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                    <ngb-panel title="Собираете ли вы подарочные боксы?" type="primary">
                        <ng-template class="ngbPanelPrimary" ngbPanelContent>
                            <p>Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
                                стоимость!</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel>
                        <ng-template ngbPanelTitle>Сколько у вас разновидностей чая?</ng-template>
                        <ng-template ngbPanelContent>
                            <p>У нас более десяти разновидностей чая, в том числе белый, матча и другие.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel>
                        <ng-template ngbPanelTitle>В какой срок осуществляется доставка?</ng-template>
                        <ng-template ngbPanelContent>
                            <p>Доставка осуществляется в течении двух дней. Для отдаленных регионов сроки доставки
                                зависят от выбранного способа доставки.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel>
                        <ng-template ngbPanelTitle>У вас обновляется ассортимент?</ng-template>
                        <ng-template ngbPanelContent>
                            <p>Да, у нас периодически пояаляются новые сорта чая.</p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel>
                        <ng-template ngbPanelTitle>Какого объема у вас пачки чая?</ng-template>
                        <ng-template ngbPanelContent>
                            <p>Пачки чая от 50 до 200 грамм.</p>
                        </ng-template>
                    </ngb-panel>

                </ngb-accordion>
            </div>
        </div>
    </div>
</section>
  <!-- <button type="button" class="btn btn-primary" (click)="show(modalTipElem)">
    Launch demo modal
  </button> -->

  <!-- <ng-template #popup> -->
    <!-- class modal, fade removed -->
<!-- <div class="modal fade" id="modalTip" tabindex="-1" role="dialog" aria-labelledby="modalTeaCollection"

    aria-hidden="true" #modalTipElem>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-end border-0">
                <button type="button" class="close border-0 bg-white display-8" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center display-8">
                Посмотрите наши чайные коллекции
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" [routerLink]="'/products'" data-bs-dismiss="modal">Смотреть</button>
            </div>
        </div>
    </div>
</div> -->
<!-- </ng-template> -->
<ng-template #popup let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Совет дня ...</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<div class="display-8">
					Посмотрите наши чайные коллекции
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modal.close()">Отмена</button>
		<button type="button" class="btn btn-primary" [routerLink]="'/products'" (click)="modal.close()">Смотреть</button>
	</div>
</ng-template>
