<div class="d-flex flex-column justify-content-center align-items-center p-5">
    <h5 class="my-3 h3">{{product.title}}</h5>
    <a class="teaImage d-flex justify-content-center" href="{{product.image}}">
        <img src="{{product.image}}" class="card-img-top" alt="Чай">
    </a>
    <div class="card-body px-sm-5">
        
        <p class="card-text">{{product.description}}</p>
        <div class="d-flex justify-content-between flex-column align-items-center">
            <div class="my-3">Цена: {{product.price | currency :'RUB':'руб':'1.2-2'}}</div>
            <button class="btn btn-primary px-5" [routerLink]="'/order'" [queryParams]="{product: product.title}">Купить</button>
        </div>
        
        <!-- <div class="card  wow animate__backInLeft">
            <a class="teaImage" href="../assets/images/image1.png">
                <img src="../assets/images/image1.png" class="card-img-top w-100" alt="Чай">
            </a>
            <div class="card-body">
                <h5 class="card-title">Детокс чай лайм</h5>
                <p class="card-text">Великолепный чай внесет в вашу жизнь яркие краски и вкус расслабления
                </p>
                <a href="#" class="btn btn-primary px-5 hvr hvr-sweep-to-top">Подробнее</a>
            </div>
        </div> -->
    </div>
</div>
